.div-book {
    margin: 1rem 15px 0;
    padding-top: 200px;
}
button {
    margin: 15px, 15px;
    object-position: right;
  }

body {
    background-image: url(https://i.pinimg.com/originals/98/52/bf/9852bfd0c35811869d02ca151dd82b6a.jpg);
}


