.div-book {
    margin: 1rem 15px 0;
    padding-top: 200px;
}
button {
    margin: 15px, 15px;
  }
body {
    background-image: url("https://wallimpex.com/data/out/155/shelves-wallpaper-5444240.jpg")
}